/*@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic&subset=latin-ext,cyrillic);*/

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans'), local('NotoSans'), url(../fonts/JLrcxvhkM17op1c4raL9Fg.woff) format('woff');
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(../fonts/PIbvSEyHEdL91QLOQRnZ1xsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

@font-face {
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Noto Sans Italic'), local('NotoSans-Italic'), url(../fonts/dLcNKMgJ1H5RVoZFraDz0j8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Noto Sans Bold Italic'), local('NotoSans-BoldItalic'), url(../fonts/9Z3uUWMRR7crzm1TjRicDpXMLUeV6_io0G3F6eXSVcg.woff) format('woff');
}


/*@font-face {*/
    /*font-family: 'Noto Sans';*/
    /*font-style: normal;*/
    /*font-weight: 400;*/
    /*src: local('Noto Sans'), local('NotoSans'), url(../fonts/iLJc6PpCnnbQjYc1Jq4v0z8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');*/
/*}*/

/*@font-face {*/
    /*font-family: 'Noto Sans';*/
    /*font-style: normal;*/
    /*font-weight: 700;*/
    /*src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(../fonts/PIbvSEyHEdL91QLOQRnZ14raN7vELC11_xip9Rz-hMs.woff) format('woff');*/
/*}*/

/*@font-face {*/
    /*font-family: 'Noto Sans';*/
    /*font-style: italic;*/
    /*font-weight: 400;*/
    /*src: local('Noto Sans Italic'), local('NotoSans-Italic'), url(../fonts/ByLA_FLEa-16SpQuTcQn4GOb2gHztoQeulij-1lvl-8.woff) format('woff');*/
/*}*/

/*@font-face {*/
    /*font-family: 'Noto Sans';*/
    /*font-style: italic;*/
    /*font-weight: 700;*/
    /*src: local('Noto Sans Bold Italic'), local('NotoSans-BoldItalic'), url(../fonts/9Z3uUWMRR7crzm1TjRicDlRROVH9Vvc8xHnAGvvgPQc.woff) format('woff');*/
/*}*/