html {
    min-width: 1014px;
    background: #ececec;
    font: 13px / 22px 'Noto Sans', sans-serif;
    color: #413f3f;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}