.article {

}
    .article__header {

    }
        .article__header__date {

        }

        .article__header__title {
            margin: 1px 0 0;
        }

    .article__body {
        margin: 20px 0 0;
    }
        .article__body__featured-image {
            float: left;
            max-width: 284px;
            margin: 6px 20px 10px 0;
        }

        .new__body__content {

        }

    .article__footer {
        margin: 15px 0 0;
    }
        .article__footer__source {

        }

        .article__footer__likes {
            margin: 15px 0 0;
        }


/* _feed-item */

.article_feed-item {

}

.article_feed-item .article__body {
    margin-top: 12px;
}

.article_feed-item .article__body__featured-image {
    width: 116px;
    margin-right: 20px;
}

/* _preview */

.article_preview .article__header__title {
    margin-top: 3px;
}

.article_preview .article__body {
    margin-top: 2px;
}
