.auth {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    text-align: right;
}

    .auth__item {
        margin: 8px 0 0;
    }

    .auth__item:first-child {
        margin-top: 0;
    }

        .auth__item__link {
            position: relative;
            -webkit-transition: color .3s ease;
                    transition: color .3s ease;
        }
            .auth__item__link__icon {
                position: absolute;
                right: 100%;
                top: 0;
                padding: 0 8px 0 0;
            }

        .auth__item__link:hover {
            color: #989393;
        }

        .auth__item__link_active {
            color: #4e9fcf;
            cursor: default;
        }

        .auth__item__link_active:hover {
            color: #4e9fcf;
        }
