.breadcrumbs {
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    color: #b6b6b6;
    cursor: text;
}

    .breadcrumbs__item {
        display: inline-block;
        vertical-align: middle;
        margin-left: 4px;
    }

    .breadcrumbs__item:first-child {
        margin-left: 0;
    }

        .breadcrumbs__item__link {
            color: #737881;
        }
            .breadcrumbs__item__link__icon {
                display: inline-block;
                vertical-align: middle;;
                padding: 0 10px 0 0;
                position: relative;
                top: 1px
            }

        .breadcrumbs__item__link:hover {
            text-decoration: underline;
        }

        .breadcrumbs__item__separator {
            cursor: default;
        }

        .breadcrumbs__item__current {
            color: #242424;
        }
