.calc {
    background: #76b4e4;
    border-radius: 7px;
    padding: 34px 69px;
    margin: 0 0 24px;
}
    .calc__row {
        margin: 32px 0 0;
    }

    .calc__row:first-child {
        margin-top: 0;
    }
        .calc__row__half {
            display: inline-block;
            vertical-align: top;
            width: 301px;
            margin: 0 0 0 26px;
        }

        .calc__row__half:first-child {
            margin-left: 0;
        }

        .calc__row__submit {
            margin: 40px auto -58px;
            width: 214px;
        }