.col {

}
    .col__item {
        margin: 23px 0 0;
    }

    .col__item_center {
        text-align: center;
    }

    .col__item_right {
        text-align: right;
    }

    .col_sparse .col__item {
        margin-top: 46px;
    }

.col__item_larger-push {
    margin-top: 51px;
}

.col__item:first-child {
    margin-top: 0;
}