.control {
    display: inline-block;
    vertical-align: top;
}
    .control__input {
        display: none;
    }

    .control__label {
        padding: 0 0 0 14px;
        color: #2a2a2a;
    }

    .control__icon {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        top: -1px;
        width: 20px;
        height: 20px;
        border-radius: 4px;
        -webkit-transition: background-color .3s ease;
                transition: background-color .3s ease;
    }
        .control__icon__image {
            display: block;
            width: 14px;
            height: 10px;
            background: url(../images/sprite.png) no-repeat -13px -108px;
            position: absolute;
            left: 3px;
            top: 5px;
            display: none;
        }

        @media
        (-webkit-min-device-pixel-ratio: 1.5),
        (min-resolution: 144dpi){
            .control__icon__image {
                background-image: url(../images/sprite@2x.png);
                background-size: 309px 212px;
            }
        }


/* icon */
    .control__icon {
        background: #fff;
        background-repeat: no-repeat;
        border: 1px solid #818485;
    }
/* icon:hover */
    .control:hover .control__icon {
        background-color: #ededed;
    }
/* icon:active */
    .control:active .control__icon {
        border-color: #3cb0e4;
        -webkit-transition: none;
                transition: none;
    }

/* checked icon */
    .control__input:checked + .control__icon .control__icon__image {
        display: block;
    }
/* checked icon:hover */
    .control:hover .control__input:checked + .control__icon {

    }
/* checked icon:active */
    .control:active .control__input:checked + .control__icon .control__icon__image {
        background-position: -27px -108px;
    }

    .control__error-output {
        padding-left: 20px;
        padding-right: 20px;
        margin: 6px 0 0;
        font-size: 11px;
        line-height: 13px;
        color: #ea500d;
        text-align: center;
    }

label.control {
    cursor: pointer;
}