.data-list {
    font-size: 13px;
    line-height: 15px;
    color: #252626;
}

    .data-list__item {
        position: relative;
        margin: 16px 0 0;
        padding: 0 0 0 31px;
    }
    
    .data-list__item:first-child {
        margin-top: 0;
    }    
        .data-list__item__icon {
            position: absolute;
            left: 0;
            top: -3px;
        }

        .data-list__item__title {
            display: inline-block;
            vertical-align: middle;
            font-weight: bold;
            margin-right: 4px;
        }

        .data-list__item__value {
            display: inline-block;
            vertical-align: middle;
        }