.footer {
    height: 48px;
    position: relative;
}
    .footer__copyright {
        position: absolute;
        top: 13px;
        left: 5px;
    }

    .footer__terms {
        position: absolute;
        top: 18px;
        right: 276px;
        font-size: 11px;
        line-height: 14px;
    }

    .footer__langs {
        position: absolute;
        top: 13px;
        right: 12px;
    }

    .footer__payment {
        position: absolute;
        left: 699px;
        top: 12px;
    }