.footer {
    height: 48px;
    position: relative;
}
    .footer__copyright {
        position: absolute;
        top: 17px;
        left: 0;
    }

    .footer__langs {
        position: absolute;
        top: 17px;
        right: 12px;
    }