.form {
    text-align: center;
}
    .form__row {
        margin: 26px 0 0;
    }

    .form__row:first-child {
        margin-top: 0;
    }

    .form__row_rules {
        margin-top: 81px;
    }
    
    .form__row_submit {
        margin-top: 38px;
    }