.form {

}
    .form__row {
        margin: 26px 0 0;
    }

    .form__row:first-child {
        margin-top: 0;
    }

    .form__row_centered-field {
        text-align: center;
    }

    .form__row_rules {
        margin-top: 81px;
        text-align: center;
    }
