.header {
    height: 76px;
    position: relative;
}
    .header__logo {
        position: absolute;
        left: 0;
        top: 13px;
    }

    .header__nav {
        position: absolute;
        top: 21px;
        left: 276px;
    }

    .header__userspace {
        position: absolute;
        right: -23px;
        top: 16px;
    }