.header {
    height: 76px;
    padding: 0 0 21px;
    position: relative;
}
    .header__logo {
        position: absolute;
        left: -7px;
        top: 13px;
    }

    .header__nav {
        position: absolute;
        top: 20px;
        left: 144px;
    }