.icon {
    display: inline-block;
    vertical-align: top;
    background: url(../images/sprite.png) no-repeat;
}

@media
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi){
    .icon {
        background-image: url(../images/sprite@2x.png);
        background-size: 309px 120px;
    }
}

.icon_bitcoin {
    width: 33px;
    height: 33px;
    background-position: -92px -65px;
}

.icon_graph {
    width: 33px;
    height: 33px;
    background-position: -125px -65px;
}

.icon_paper {
    width: 33px;
    height: 33px;
    background-position: -158px -65px;
}

.icon_notebook {
    width: 33px;
    height: 33px;
    background-position: -191px -65px;
}

.icon_home {
    width: 13px;
    height: 10px;
    background-position: -92px -98px;
}

.icon_lock {
    width: 15px;
    height: 18px;
    background-position: -77px -91px;
}

.icon_man {
    width: 14px;
    height: 18px;
    background-position: -192px -98px;
}

.icon_geo {
    width: 22px;
    height: 22px;
    background-position: -105px -98px;
}

.icon_phone {
    width: 22px;
    height: 22px;
    background-position: -127px -98px;
}

.icon_at {
    width: 22px;
    height: 22px;
    background-position: -149px -98px;
}


.icon_visa {
    width: 42px;
    height: 25px;
    background-position: -224px -61px;
}

.icon_mastercard {
    width: 42px;
    height: 25px;
    background-position: -224px -86px;
}