.icon {
    display: inline-block;
    vertical-align: top;
}

.icon_graph {
    width: 33px;
    height: 33px;
    background: url(../images/icon_graph.png) no-repeat;
}

.icon_bitcoin {
    width: 33px;
    height: 33px;
    background: url(../images/icon_bitcoin.png) no-repeat;
}

.icon_paper {
    width: 33px;
    height: 33px;
    background: url(../images/icon_paper.png) no-repeat;
}

.icon_notebook {
    width: 33px;
    height: 33px;
    background: url(../images/icon_notebook.png) no-repeat;
}

.icon_home {
    width: 13px;
    height: 10px;
    background: url(../images/icon_home.png) no-repeat;
}

.icon_geo {
    width: 22px;
    height: 22px;
    background: url(../images/icon_geo.png) no-repeat;
}

.icon_phone {
    width: 22px;
    height: 22px;
    background: url(../images/icon_phone.png) no-repeat;
}

.icon_at {
    width: 22px;
    height: 22px;
    background: url(../images/icon_at.png) no-repeat;
}

.icon_facebook {
    width: 58px;
    height: 58px;
    background: url(../images/icon_facebook.png) no-repeat;
}

.icon_vkontakte {
    width: 58px;
    height: 58px;
    background: url(../images/icon_vkontakte.png) no-repeat;
}

.icon_twitter {
    width: 58px;
    height: 58px;
    background: url(../images/icon_twitter.png) no-repeat;
}

.icon_visa {
    width: 42px;
    height: 25px;
    background: url(../images/icon_visa.png) no-repeat;
}

.icon_mastercard {
    width: 42px;
    height: 25px;
    background: url(../images/icon_mastercard.png) no-repeat;
}

.icon_arrow-left {
    width: 26px;
    height: 26px;
    background: url(../images/arrows.png) no-repeat left top;
}

.icon_arrow-left:hover {
    background-position: left center ;
}

.icon_arrow-left:active {
    background-position: left bottom ;
}

.icon_arrow-right {
    width: 26px;
    height: 26px;
    background: url(../images/arrows.png) no-repeat right top;
}

.icon_arrow-right:hover {
    background-position: right center;
}

.icon_arrow-right:active {
    background-position: right bottom;
}

