.link {
    color: #42708c;
}

.link:hover {
    text-decoration: underline;
}

.link_white {
    color: #fff;
}

.link_inverted {
    color: inherit;
}
.link_inverted:hover {
    color: #4e9fcf;
}

.link_lightblue {
    color: #4b93bf;
}

