.logo {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 0 0 0 58px;
    height: 54px;
    line-height: 44px;
}

    .logo__label {
        display: inline-block;
        vertical-align: middle;
        font-weight: bold;
        font-size: 21px;
        line-height: 24px;
        color: #fad630;
        text-transform: uppercase;
        -webkit-transition: opacity .3s ease;
                transition: opacity .3s ease;
    }
        .logo__label__rocket {
            display: inline-block;
            vertical-align: baseline;
            color: #fff;
        }

        .logo__label__coins {
            display: inline-block;
            vertical-align: baseline;
        }

    .logo__icon {
        width: 50px;
        height: 50px;
        background: url(../images/sprite.png) no-repeat -259px 0;
        position: absolute;
        left: 0;
        top: 0;
    }

    @media
    (-webkit-min-device-pixel-ratio: 1.5),
    (min-resolution: 144dpi){
        .logo__icon {
            background-image: url(../images/sprite@2x.png);
            background-size: 309px 212px;

        }
    }

.logo:hover .logo__label {
    opacity: .8;
}

