.logo {
    display: block;
    width: 51px;
    height: 51px;
    background: url(../images/logo.png) no-repeat center top;
    border-radius: 50%;
}
.logo:hover {
    background-position: center bottom;
}