.nav {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
}
    .nav__item {
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 25px;
    }

    .nav__item:first-child {
        margin-left: 0;
    }
        .nav__item__link {
            display: block;
        }

        .nav__item__link_active,
        .nav__item__link:hover {
            color: #4e9fcf;
        }

            .nav__item__link__icon {
                display: inline-block;
                vertical-align: middle;
                margin: 0 7px 0 0;
            }

            .nav__item__link__title {
                display: inline-block;
                vertical-align: middle;
            }