.stats {

}
    .stats__rate {
        position: relative;
        margin: 0 0 0 400px;
        text-align: right;
    }
        .stats__rate__body {
            display: inline-block;
            vertical-align: top;
            text-align: left;
        }

    .stats__body {
        margin: 40px 0 0;
    }

        .stats__body__sidebar {
            display: inline-block;
            vertical-align: top;
            width: 213px;
        }
            .stats__body__sidebar__switcher {

            }

            .stats__body__sidebar__content {
                margin: 33px 0 0;
                position: relative;
            }
                .stats__body__sidebar__content__item {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                }

        .stats__body__content {
            display: inline-block;
            vertical-align: top;
            width: 674px;
            margin: 0 0 0 45px;
        }