.table {
    color: #434242;
}

    .table__head {
        color: #7d7d7d;
        text-align: left;
    }

        .table__head__row {

        }

            .table__head__row__cell {
                padding: 4px 16px 13px;
            }

    .table__body {

    }

        .table__body__row {

        }

        .table__body__row:nth-child(odd) {
            background-color: #daedf8;
        }

            .table__body__row__cell {
                padding: 4px 16px 7px;
            }

            .table__body__row__cell_group-title {
                color: #3582b0;
                font-weight: bold;
            }

            .table__body__row__cell_stat-title {

            }

            .table__body__row__cell_stat-value {
                text-align: right;
                font-weight: bold;
            }